@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('./media-queries.css');
* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #42526e;
}

a:hover {
  background-color: #36b37f;
}

.button {
  height: 45px;
  width: 120px;
  border-radius: 4px;
  border-color: #36b37f;
  padding: 10px;
  color: #fff;
  background-color: #008552;
}

.button-enabled {
  background-color: #36b37f;
}

.button:hover {
  background-color: #36b37f;
}

.button:active {
  background-color: #008552;
}

.long-btn {
  width: 150px;
}

#mobile-navbar {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 20px;
}

.welcome-logo {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
  text-decoration: none;
}

.main-section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100px;
  top: 92px;
}

.section-basic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  min-width: auto;
  padding: 10px;
}

.about-me-section-bg {
  background-image: url("../assets/backgrounds/about-me-mobile.png"), url("../assets/backgrounds/about-me-mobile-header-bg.png");
  background-repeat: no-repeat no-repeat;
  background-position: bottom left, top right;
}

.text-center {
  text-align: center;
}

.color-deep-blue {
  color: #172b4d;
}

.color-theme-green {
  color: #36b37f;
}

.portfolio-heading::after {
  width: 48px;
  height: 4px;
  margin: 25px auto;
  top: 100%;
  background-color: #36b37e;
  border: 1px solid  #36b37f;
  border-radius: 24px;
  display: block;
  content: '';
}

.primary-header-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin: 0 25px;
}

.section-main-content-margin {
  margin: 25px 0;
  width: 100%;
}

.heading-supporting-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding: 0 20px;
}

.social-media {
  color: #505f79;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.social-media-flex-item{
  margin: 0px 6px;
}

.scroll-btn {
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 32px;
  width: 40px;
  height: 40px;
  padding: 8px;
}

.scroll-btn > img {
  height: 24px;
  width: 22px;
}

.scroll-btn:hover {
  color: #36b37f;
}

.scroll-btn:active {
  color: #008552;
}

.color-success {
  color: #36b37e;
}

.css-grid {
  min-height: 100px;
  min-width: 75%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, 310px);
  justify-content: center;
  padding: 4px 15px;
}

.portfolio-grid-items {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background: #ebf0ee;
  min-height: 450px;
}

.skills-grid-items {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background: #ebf0ee;
  min-height: 350px;
}

.image-container {
  height: 55%;
  width: auto;
}

.image-container > img {
  width: 100%;
  border-radius: 7px;
  object-fit: cover;
}

.project-description {
  background-color: #ffff;
  border-top: 1px solid #ffff;
  border-radius: 8px;
  height: 45%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 12px 0;
}

.category-list {
  color: #ebf0ee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.title-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
}

.category-items {
  background: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0.01em;
  color: #3a4a42;
  margin: 3px;
}

.image-container-skills {
  height: auto;
  width: auto;
  padding: 20px;
  margin-bottom: 30px;
}

.skill-icons {
  height: 62px;
  width: 62px;
  background: #fff;
  box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dfe1e6;
  border-radius: 40px;
}

.skill-icons > img {
  width: 60%;
}

.skill-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 45%;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.skill-list {
  color: #36b37e;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 1px;
}

.skill-items {
  background: #fff;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 0.01em;
  color: #36b37e;
  margin: 3px;
}

footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100px;
  width: 100%;
  background-image: url("../assets/backgrounds/footer-bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  text-align: center;
}

.contact-form-margin {
  margin: 10px 0;
  width: 100%;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.form-controls {
  width: 100%;
  margin: 10px auto;
  padding: 5px;
}

input[type=text],
input[type=email] {
  background: #fff;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  height: 35px;
}

textarea {
  background: #fff;
  border: 1px solid #60c095;
  box-sizing: border-box;
  border-radius: 4px;
  height: 80px;
}

.social-media-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #505f79;
  width: 80%;
  margin: 1px auto;
  height: 20px;
  list-style-type: none;
}

.social-media-contact > li {
  flex: 1 1 20%;
}

.footer-email {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  width: 75%;
}

.footer-email:hover {
  background-color: #36b37f;
  color: #fff;
}


