@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

a:hover {
  background-color: #36b37f;
}

.button {
  height: 48px;
  width: 91px;
  border-radius: 4px;
  border-color: #36b37f;
  padding: 12px;
}

.button-enabled {
  background-color: #36b37f;
}

.button:hover {
  background-color: #36b37f;
}

.button:active {
  background-color: #008552;
}

#mobile-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 20px;

  /* width: 375px; */
}

.welcome-logo {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
  text-decoration: none;
}

.main-section {
  background-image: url("../assets/backgrounds/header-mobile@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100px;

  /* width: 400px;
  height: 685px; */
  top: 92px;
}

.text-center {
  text-align: center;
}

.color-deep-blue {
  color: #172b4d;
}

.color-theme-green {
  color: #36b37f;
}

.primary-header-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.main-content-margin-div {
  margin: 40px 0;
}

.heading-supporting-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding: 0 20px;
}

.social-media {
  color: #505f79;
  width: 170.17px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.scroll-btn {
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 32px;
  width: 40px;
  height: 40px;
  padding: 8px;
}

.scroll-btn > img {
  height: 24px;
  width: 22px;
}
